* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  /* overflow-x: hidden; */
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: auto;
  justify-content: center;
}

header {
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: #191765;
  width: 100%;
}

.nav-menu {
  display: none;
}

.notification {
  visibility: hidden;
}

form .large-screen {
  position: absolute;
  display: none;
}

.name_logo {
  color: #edecff;
  text-decoration: none;
  font-weight: 700;
  font-weight: bold;
  padding-top: 18px;
  padding-right: 200px;
  padding-left: 30px;
}

.menu-bar {
  display: flex;
  align-self: flex-end;
  font-size: 25px;
  color: #e5e5e5;
}

body section footer {
  width: 100%;
  height: auto;
  background-color: #191765;
}

.main-mobile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 24px;
  width: 100%;
  background-color: #191765;
}

.ellipse1 {
  position: absolute;
  height: 150px;
  width: 160px;
  right: 221px;
  left: -80px;
  top: 97px;
  bottom: 5158px;
  background: #edecff;
  border-radius: 100%;
  filter: blur(20px);
  opacity: 0.9;
}

.ellipse2 {
  position: absolute;
  height: 68px;
  width: 100px;
  left: 330px;
  top: 590px;
  bottom: 5158px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(20px);
}

h1 {
  width: 327px;
  padding-top: 65px;
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  line-height: 50px;
  text-align: center;
  padding-bottom: 40px;
  color: #7d73fc;
}

h3 {
  height: 70px;
  width: 327px;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 1px;
  color: #edecff;
}

.advert-text {
  width: 333px;
  margin: 24px 24px;
}

.advert-text p {
  font-size: 20px;
  font-weight: 300;
  color: #c8c8d4;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}

.vector4 {
  position: absolute;
  width: 327px;
  left: 24px;
  right: 24px;
  top: 530px;
  height: 0;
  border: 1px solid#646369;
}

.tech-experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 56px;
  padding-top: 60px;
  border-radius: 0;
  color: #f5f5ff;
  width: 335px;
}

.tech-experience h2 {
  color: #9490ff;
  font-size: 12px;
  font-style: normal;
}

.language-framework {
  display: flex;
  justify-content: space-between;
}

.language-framework ul {
  font-size: 13px;
  line-height: 35px;
  width: 50%;
}

.skills {
  font-style: normal;
  width: 200px;
  font-size: 12px;
  line-height: 35px;
}

.vector5 {
  position: absolute;
  height: 0;
  width: 327px;
  left: 24px;
  right: 24px;
  top: 1040px;
  border-radius: 0;
  border: 1px solid#646369;
}

.social-media-icons {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 85px;
  justify-content: space-between;
}

.social-media-icons a {
  text-decoration: none;
  color: #f5f5ff;
}

.work-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 70px;
}

.work-arrow a {
  text-decoration: none;
  color: #a2a3ae;
  font-weight: 520;
  line-height: 32px;
  font-size: 20px;
  font-style: normal;
}

.work-arrow2 {
  display: none;
  color: #a2a3ae;
  font-weight: 520;
  line-height: 32px;
  font-size: 20px;
  font-style: normal;
}

.my-work-header {
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 2px;
  width: 250px;
  color: #9490ff;
  padding-top: 70px;
  margin-right: 80px;
  text-transform: uppercase;
}

.vector6 {
  height: 0;
  width: 327px;
  margin: 24px;
  top: 1040px;
  border: 1px solid#646369;
}

.my-work {
  display: flex;
  flex-direction: column;
}

.my-work-1 {
  margin: 24px;
  padding-left: 10px;
}

.my-work-2 {
  margin: 24px;
  padding-left: 10px;
}

.my-work-3 {
  margin: 24px;
  padding-left: 10px;
}

.my-work-4 {
  margin: 24px;
  padding-left: 10px;
}

.img-placeholder1 {
  width: 327px;
  height: 205px;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
}

.work-title1 {
  padding-top: 50px;
  height: 100px;
  font-size: 30px;
  line-height: 44px;
  color: #fff;
}

.my-work-1 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #dcdce8;
  height: 204px;
}

.tech-used-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
}

.button {
  background-color: #7d73fc;
  font-style: normal;
  color: #edecff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 12px;
  line-height: 24px;
  width: 89px;
  height: 48px;
}

.button:hover {
  background: #7d73fc;
  border: 1px solid #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.5);
}

.button:active {
  background: #5e42d7;
  border: 1px solid #7d73fc;
}

.button:disabled {
  background: #2a2b33;
}

.img-placeholder2 {
  margin-top: 40px;
  width: 327px;
  height: 205px;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
}

.work-title2 {
  padding-top: 50px;
  height: 100px;
  font-size: 30px;
  line-height: 44px;
  color: #fff;
}

.my-work-2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  padding: 0;
  height: 204px;
}

.tech-used2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
}

.button2 {
  background-color: #7d73fc;
  font-style: normal;
  color: #edecff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 12px;
  line-height: 24px;
  width: 89px;
  height: 48px;
}

.button2:hover {
  background: #7d73fc;
  border: 1px solid #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.5);
}

.button2:active {
  background: #5e42d7;
  border: 1px solid #7d73fc;
}

.button2:disabled {
  background: #2a2b33;
}

.img-placeholder3 {
  margin-top: 40px;
  width: 327px;
  height: 205px;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
}

.work-title3 {
  padding-top: 50px;
  height: 100px;
  font-size: 30px;
  line-height: 44px;
  color: #fff;
}

.my-work-3 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  height: 204px;
}

.tech-used3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
}

.button3 {
  background-color: #7d73fc;
  font-style: normal;
  color: #edecff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 12px;
  line-height: 24px;
  width: 89px;
  height: 48px;
}

.button3:hover {
  background: #7d73fc;
  border: 1px solid #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.5);
}

.button3:active {
  background: #5e42d7;
  border: 1px solid #7d73fc;
}

.button3:disabled {
  background: #2a2b33;
}

.img-placeholder4 {
  margin-top: 40px;
  /* width: 327px; */
  height: 205px;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
}

.work-title4 {
  padding-top: 50px;
  height: 100px;
  font-size: 30px;
  line-height: 44px;
  color: #fff;
}

.my-work-4 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  height: 204px;
}

.tech-used4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
}

.button4 {
  background-color: #7d73fc;
  font-style: normal;
  color: #edecff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 12px;
  line-height: 24px;
  width: 89px;
  height: 48px;
}

.button4:hover {
  background: #7d73fc;
  border: 1px solid #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.5);
}

.button4:active {
  background: #5e42d7;
  border: 1px solid #7d73fc;
}

.button4:disabled {
  background: #2a2b33;
}

.ellipse3 {
  position: absolute;
  height: 602.57px;
  width: 50px;
  left: -90px;
  top: 1355px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(20px);
  transform: rotate(-56.38deg);
  opacity: 0.8;
}

.ellipse4 {
  position: absolute;
  height: 402.57px;
  width: 50px;
  left: 300px;
  top: 2155px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(20px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  opacity: 0.8;
}

.ellipse5 {
  position: absolute;
  height: 155px;
  width: 200px;
  left: -30px;
  top: 3015px;
  background: rgba(237, 236, 255, 0.3);
  filter: blur(20px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

.ellipse6 {
  position: absolute;
  height: 202.57px;
  width: 101.29px;
  left: 298.22px;
  top: 3723px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(20px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  opacity: 0.9;
}

.contact-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #191765;
  padding: 24px;
}

.contact-us h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  text-align: center;
}

.contact-us h3 {
  display: none;
}

.contact-us p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  padding: 24px;
  width: 327px;
}

.contact-us form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  padding-top: 20px;
}

.large-screen {
  visibility: hidden;
}

input[type='text'] {
  width: 327px;
  height: 48px;
  background: #fff;
  box-sizing: border-box;
}

input[type='email'] {
  width: 327px;
  height: 48px;
  align-self: center;
  padding-left: 10px;
  margin-top: 12px;
  background: #f7f3ff;
  box-sizing: border-box;
}

textarea {
  width: 327px;
  height: 148px;
  margin-top: 24px;
  padding-left: 10px;
  padding-top: 10px;
  color: #81818c;
  background: #fff;
  box-sizing: border-box;
  resize: none;
}

.email-description {
  height: 20px;
  width: 200px;
  align-self: center;
  margin: 20px;
}

.contact-button {
  position: absolute;
  top: 4860px;
  left: 150px;
  background-color: #7d73fc;
  font-style: normal;
  color: #edecff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 12px;
  line-height: 24px;
  width: 89px;
  height: 48px;
}

.contact-button-mobile:hover,
button[hover] {
  background: #7d73fc;
  border: 1px solid #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.5);
}

.contact-button-mobile:active,
button[active] {
  background: #5e42d7;
  border: 1px solid #7d73fc;
}

.contact-button-mobile:disabled,
button[disabled] {
  background: #2a2b33;
  width: 44px;
}

.contact-button-large {
  display: none;
}

.social-media-icons2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 200px;
  height: 30px;
  align-items: center;
  margin-left: 78px;
  margin-top: 20px;
  justify-content: space-between;
}

.social-media-icons2 a {
  text-decoration: none;
  color: #f5f5ff;
}

.vector7 {
  height: 0;
  width: 327px;
  border: 1px solid#646369;
}

.shape {
  position: relative;
  height: 5px;
  width: 134px;
  background: #0d151e;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 100px;
}
