* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #191765;
  height: 92px;
  width: 375px;
}

.name {
  position: absolute;
  left: 22px;
  right: 270px;
  top: 60px;
  bottom: 5339px;
  color: #edecff;
  text-decoration: none;
}

.fa-solid {
  position: absolute;
  font-size: 30px;
  left: 301.33px;
  top: 50px;
  color: #c8c8d4;
}

.main-mobile-section {
  width: 375px;
  height: 4316.15px;
  background-color: #191765;
  top: 19px;
}

.ellipse1 {
  position: absolute;
  height: 160px;
  width: 160px;
  right: 321px;
  left: -90px;
  top: 97px;
  bottom: 5158px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(30px);
}

.ellipse2 {
  position: absolute;
  height: 68px;
  width: 100px;
  left: 330px;
  top: 495px;
  bottom: 5158px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(30px);
}

h1 {
  padding-top: 100px;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.57px;
  text-align: center;
  padding-bottom: 40px;
  color: #7d73fc;
}

h3 {
  width: 327px;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 4px;
  letter-spacing: 0;
  text-align: center;
  padding-left: 24px;
  padding-bottom: 60px;
  color: #edecff;
}

.advert-text {
  position: absolute;
  width: 280px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #c8c8d4;
  padding-left: 24px;
}

.vector4 {
  position: absolute;
  width: 327px;
  left: 24px;
  right: 24px;
  top: 500px;
  bottom: 4879px;
  height: 0;
  border: 1px solid#646369;
}

.tech-experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 162.15px;
  padding-left: 56px;
  padding-top: 250px;
  border-radius: 0;
  color: #f5f5ff;
  width: 370px;
}

.tech-experience h2 {
  color: #9490ff;
  font-size: 15px;
}

.tech-experience ul {
  font-size: 15px;
  font-style: italic;
  line-height: 30px;
  list-style: none;
}

.language {
  position: static;
  width: 200px;
  height: 214.15px;
}

.frameworks {
  position: absolute;
  width: 200px;
  height: 214.15px;
  left: 178px;
}

.skills {
  position: static;
  width: 200px;
  height: 214.15px;
  left: 147px;
}

.vector5 {
  position: absolute;
  height: 0;
  width: 327px;
  left: 24px;
  right: 24px;
  top: 1000px;
  border-radius: 0;
  border: 1px solid#646369;
}

.social-media-icons a {
  text-decoration: none;
  color: #f5f5ff;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-top: 350px;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.fal {
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
